<div class="keyboard">
  <div class="keyboardRow">
    <button id="q">Q</button>
    <button id="w">W</button>
    <button id="e">E</button>
    <button id="r">R</button>
    <button id="t">T</button>
    <button id="y">Y</button>
    <button id="u">U</button>
    <button id="i">I</button>
    <button id="o">O</button>
    <button id="p">P</button>
  </div>
  <div class="keyboardRow">
    <button id="a">A</button>
    <button id="s">S</button>
    <button id="d">D</button>
    <button id="f">F</button>
    <button id="g">G</button>
    <button id="h">H</button>
    <button id="j">J</button>
    <button id="k">K</button>
    <button id="l">L</button>
  </div>
  <div class="keyboardRow">
    <button id="Enter">ENTER</button>
    <button id="z">Z</button>
    <button id="x">X</button>
    <button id="c">C</button>
    <button id="v">V</button>
    <button id="b">B</button>
    <button id="n">N</button>
    <button id="m">M</button>
    <button id="Backspace"><i class="fas fa-backspace"></i></button>
  </div>
</div>
