<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- More meta tags -->
    <meta
      name="description"
      content="CS50 Wordy is a fun word-guessing game with different difficulty levels. Test your skills and try to guess the random word within 6 tries. Enjoy the challenge!"
    />
    <meta
      name="keywords"
      content="CS50 Wordy, word-guessing game, word game, guess the word, difficulty levels, 5 letters, 6 letters, 7 letters, how to play"
    />
    <meta property="og:title" content="CS50 Wordy - Word-Guessing Game" />
    <meta
      property="og:description"
      content="CS50 Wordy is a fun word-guessing game with different difficulty levels. Test your skills and try to guess the random word within 6 tries. Enjoy the challenge!"
    />
    <meta property="og:image" content="https://i.imgur.com/gmVfFOR.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:url"
      content="https://cs50-wordy.redstoneradiant.repl.co"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CS50 Wordy" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <title>{% block title %}{% endblock %} - CS50 Wordy</title>
    {% endblock %}
  </head>
  <body>
    <!-- Nav bar -->
    <nav>
      <div class="logo">
        <a href="/"><h1>CS50 Wordy</h1></a>
      </div>
      <div class="buttons">
        <a href="/5_letters">5-Letters</a>
        <a href="/6_letters">6-Letters</a>
        <a href="/7_letters">7-Letters</a>
      </div>
    </nav>

    <!-- Main page content -->
    <main>{% block main %}{% endblock %}</main>
  </body>
</html>
