{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='wordle.css') }}">
  <script>
    let charCount = parseInt('{{ length }}');
  </script>

  <script src="{{ url_for('static', filename='helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='wordle.js') }}" defer></script>
{% endblock %}

{% block title %}{{ length }} letters{% endblock %}

{% block main %}

<div id="wordle" class="wordle"></div>

{% endblock %}